---
import Layout from '../layouts/BlogPost.astro';
---

<style>
	.selfie {
		max-width: 250px;
		display: block;
		margin: auto;
		border-radius: 50%;
	}

	.description {
		text-align: center;
	}
</style>

<Layout
	title="About Me"
	subtitle="寶劍鋒從磨礪出，梅花香自苦寒來"
	description="一個喜歡IT的程序猿，平時喜歡從網路上學習新知"
	pubDate={new Date('March 20 2024')}
	heroImage=""
>
	<img class="selfie" src="/selfie.jpg" alt="wakizashi1024" />
	<div class="description">
		<p>一個喜歡IT的程序猿，平時喜歡從網路上學習新知<br />目標是成為能獨當一面的全端工程師</p>
	</div>

	<p>
		<span>目前接觸過的技術有(本站主要內容):</span>
		<ol>
			<li>
				Programming Language
				<ul>
					<li><code>Java</code></li>
					<li><code>C#</code></li>
					<li><code>Python</code></li>
					<li><code>C/C++</code></li>
					<li><code>JavaScript</code></li>
					<li><code>PHP</code></li>
					<li><code>VB</code></li>
				</ul>
			</li>
			<li>
				Web
				<ul>
					<li><code>HTML/CSS</code></li>
					<li><code>JavaScript</code></li>
					<li>
						<code>React</code>
						<ul>
							<li><code>Class Component/Function Component</code></li>
							<li><code>Next.js</code></li>
						</ul>
					</li>
					<li>
						<code>Vue</code>
						<ul>
							<li><code>Quasar</code></li>
						</ul>
					</li>
					<li><code>JQuery</code></li>
					<li>
						<code>ASP.Net Core</code>
						<ul>
							<li><code>Web API</code></li>
							<li><code>Blazor</code></li>
						</ul>
					</li>
					<li><code>Spring Boot</code></li>
					<li><code>Astro</code></li>
					<li><code>Node.js</code></li>
				</ul>
			</li>
			<li>
				Desktop
				<ul>
					<li><code>Java FX / Swing</code></li>
					<li><code>.Net winform</code></li>
					<li><code>Electron</code></li>
					<li><code>Qt</code></li>
				</ul>
			</li>
			<li>
				Mobile
				<ul>
					<li><code>Cordova</code></li>
				</ul>
			</li>
			<li>
				Server side / Others
				<ul>
					<li><code>Linux</code></li>
					<li><code>Docker</code></li>
					<li><code>OpenStack</code></li>
					<li><code>Kubernetes</code></li>
					<li><code>RabbitMQ</code></li>
					<li><code>Redis</code></li>
					<li><code>MongoDB</code></li>
					<li><code>PostgreSQL</code></li>
					<li><code>MySQL</code></li>
					<li><code>SQL Server</code></li>
				</ul>
			</li>
		</ol>
	</p>
	<p>GitHub: <a href="https://github.com/wakizashi1024">Wakizashi1024</a></p>
</Layout>
