---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main>
			<h1>Blog簡介</h1>
			<p>本站內容以IT技術為主，包含以下內容</p>
			<ul>
				<li>Web前後端開發</li>
				<li>讀書/學習筆記</li>
				<li>網路資源分享</li>
				<li>技術探討</li>
				<li>心得分享</li>
			</ul>
			<p>接觸的東西太多，腦袋要爆炸了，放在這裡做個紀錄</p>
		</main>

		<Footer />
	</body>
</html>
