---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <p>完整專案</p>
        <ul>
            <li>
                <div class="title">Bilibili live checker</div>
                <div class="description">一個Chrome擴充功能，提供用戶查看追蹤主播直播狀態及主播開播時通知</div>
                <div class="skills">使用技術: <code>Chrome extension manifest 3</code>、<code>Javascript</code></div>
                <div class="actions">
                    <a href="https://github.com/wakizashi1024/bilibili-live-checker">Github repo</a>
                </div>
            </li>
            <li>
                <div class="title">Blazor ECommerce</div>
                <div class="description">一個使用ASP.Net Core + Blazor實作的個人線上商城並串接第三方支付</div>
                <div class="skills">使用技術: <code>ASP.Net Core 6</code>、<code>Blazor</code>、<code>Jieba</code>、<code>Stripe</code>、<code>Bootstrap</code>、<code>SQL Server</code></div>
                <div class="actions">
                    <a href="https://github.com/wakizashi1024/BlazorECommerce">Github repo</a>
                </div>
            </li>
            <li>
                <div class="title">Next Blog Static</div>
                <div class="description">一個使用Next.js製作的靜態Markdown Blog，只須將Markdown檔案放入指定位置加上少許指令即可佈署</div>
                <div class="skills">使用技術: <code>Next.js</code>、<code>Tailwind CSS</code></div>
                <div class="actions">
                    <a href="https://github.com/wakizashi1024/next-blog-static">Github repo</a>
                </div>
            </li>
        </ul>

        <p>POC / 有用的程式片段</p>
        <ul>
            <li>
                <div class="title">Music player web</div>
                <div class="description">當音樂撥放時根據時間顯示對應滾動歌詞</div>
                <div class="skills">使用技術: <code>HTML/CSS</code>、<code>Javascript</code></div>
                <div class="actions">
                    <a href="https://github.com/wakizashi1024/music-player-web">Github repo</a>
                </div>
            </li>
            <li>
                <div class="title">Express example multer </div>
                <div class="description">Express.js實作檔案上傳功能</div>
                <div class="skills">使用技術: <code>Express.js</code>、<code>Multer</code></div>
                <div class="actions">
                    <a href="https://github.com/wakizashi1024/express-example-multer">Github repo</a>
                </div>
            </li>
        </ul>

    </main>
</BaseLayout>